/* ---------- FONTS ---------- */
@font-face {
    font-family: 'JosefinSans-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/JosefinSans-Light.woff') format('woff'), url('../fonts/JosefinSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'JosefinSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/JosefinSans-Regular.woff') format('woff'), url('../fonts/JosefinSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'JosefinSans-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/JosefinSans-Bold.woff') format('woff'), url('../fonts/JosefinSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-Light.woff') format('woff'), url('../fonts/Poppins-Light.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Alfa Slab One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Alfa Slab One Regular'), url('../fonts/AlfaSlabOne-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pokemon-Solid';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Pokemon-Solid.woff') format('woff'), url('../fonts/Pokemon-Solid.woff') format('woff');
}

@font-face {
    font-family: 'Sketchslab-bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Sketchslab-bold.woff') format('woff'), url('../fonts/Sketchslab-bold.woff') format('woff');
}

@font-face {
    font-family: 'Pebble-bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Pebble-bold.woff') format('woff'), url('../fonts/Pebble-bold.woff') format('woff');
}
