/*  ---------- GLOBAL STYLES ---------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $PoppinsRegular;
    text-decoration: none !important;
    list-style: none;
    &:hover {
        text-decoration: none;
        list-style: none;
    }
}

html,
body {
    background: $background-gradient-01;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    @include transition2(all, 0.5s, ease-in-out);
}

// svg,
// path {
//     fill: $white;
// }

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($black, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    span {
        padding-top: 50px;
    }
    .loader-pokeball {
        position: relative;
        height: 300px;
        width: 300px;
        background: linear-gradient(to bottom, $thirdColor 50%, $white 50%);
        border-radius: 50%;
        border: 15px solid $black;
        animation: spin 2s linear infinite;

        &:before {
            content: '';
            position: absolute;
            height: 20px;
            width: 100%;
            background: $black;
            top: 50%;
            transform: translateY(-50%);
        }

        &:after {
            content: '';
            position: absolute;
            height: 114px;
            width: 114px;
            border-radius: 50%;
            background: $white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: inset 0 0 0 20px $black, inset 0 0 0 25px $white, inset 0 0 0 30px $black;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}
