.footer-content {
    .personal-link {
        span {
            @include transition();
        }
        &:hover {
            span {
                color: $secColor;
            }
            svg,
            path {
                fill: $secColor;
            }
        }
        svg {
            margin-left: 10px;
            width: 20px;
            height: 20px;
            path {
                @include transition();
                fill: $white;
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
