.pages {
    min-height: calc(100vh - 109px);
    &.home {
    }
    &.minigame-page {
        h1 {
            text-align: center;
            padding: 60px 0;
        }
    }
    &.poke-search-page {
    }
    &.about-page {
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
